In [3]:
import pandas as pd
dataframe = pd.read_csv("./lexicons/hi.translit.sampled.train.tsv", sep="\t", header=None,
                                names=["target_native", "source_roman", "count"],
                                dtype=str)

In [ ]:
# Check for NaN values
nan_rows = dataframe[dataframe.isna().any(axis=1)]
if not nan_rows.empty:
    print("NaN values found in the following rows:")
    print(nan_rows)

NaN values found in the following rows:
      target_native source_roman count
19535            नं          NaN     3
20147           नान          NaN     2

In [ ]:
# Drop rows with NaN values
dataframe = dataframe.dropna()